<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seanzx.mapper.CustomerMapper">

    <resultMap id="BaseResultMap" type="com.seanzx.po.CustomerPO">
        <result column="customer_name" property="customerName" />
    </resultMap>

    <sql id="customerInfo">
        id, customer_name, gender, age, mobile, email, address
    </sql>

    <select id="findCustomer" resultMap="BaseResultMap">
        SELECT
        <include refid="customerInfo"></include>
        FROM t_customer
        WHERE id = #{id}
        AND data_status = 1
    </select>

    <select id="findCustomers" resultMap="BaseResultMap">
        SELECT
        <include refid="customerInfo"></include>
        FROM t_customer
        WHERE data_status = 1
    </select>

</mapper>