<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seanzx.mapper.HttpRequestMapper">

    <resultMap id="BaseResultMap" type="com.seanzx.po.HttpRequestPO">
        <result column="start_time" property="startTime" />
        <result column="request_method" property="requestMethod" />
        <result column="request_ip" property="requestIp" />
        <result column="exception_message" property="exceptionMessage" />
    </resultMap>

    <sql id="httpRequestInfo">
        id, uri, start_time, request_method, request_ip, exception_message, duration
    </sql>

    <select id="findHttpRequests" resultMap="BaseResultMap">
        SELECT
        <include refid="httpRequestInfo"></include>
        FROM
        t_http_request
        <where>
            <if test="start != null">
                AND start_time &gt;= #{start}
            </if>
            <if test="end != null">
                AND start_time &lt;= #{end}
            </if>
            <if test="minDuration != null and minDuration != ''">
                AND duration &gt;= #{minDuration}
            </if>
        </where>
    </select>

</mapper>